@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVDB!</h1>
    <h3>Looking for a movie to watch? We'll help you out!<br/>
        Find the best movies by your favorite actors.</h3>
    <form>
        <input type="text" name="query" placeholder="Search for a movie.">
        <input type="submit" value="Search">
    </form>
    
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
